<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
             <a class="navbar-brand" href="#page-top">
                <i class="fa fa-chevron-circle-right"></i>
                <span>Chadder</span>
             </a>
        </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll"><%= link_to "Hot", root_path %></li>
                <li class="page-scroll"><%= link_to "Trending", "trending" %></li>
            </ul>
        </div>
            <!-- /.navbar-collapse -->
    </div>
        <!-- /.container -->
</nav>

<section class="intro">
    <div class="intro-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="heading">9 Gag Viewer.</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div ng-controller="HotCtrl">
  <div class="container-fluid" id="test">
    <div class="row text-center" ng-repeat="hot in data.data">
      <h3>{{ hot.caption }}</h3>
      <img class="image-responsive" src="{{hot.images.normal}}" alt="Chadder: 9gag Viewer">
      <a ng-href="{{hot.link}}" target="_blank"><p>View Comments</p></a>
      <span><h5>Votes: {{hot.votes.count}}</h5></span>
      <hr class="colored">
      <br/>
    </div>
    <br/>
  </div>
</div>  



 <footer>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-4">
                <span class="copyright">Made with <i class="fa fa-heart fa-1x"></i> By James Newman</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://github.com/jnewman12/chadder" target="_blank"><i class="fa fa-github fa-3x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>